code/bluemixflow.json
[{"id":"b8bc84d.5f004f8","type":"ibmiot out","z":"e613fe08.5ee6f","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"photobooth","deviceType":"tjbot","eventCommandType":"takephoto","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":400,"y":80,"wires":[]},{"id":"413fbf63.5b0ec8","type":"ibmiot in","z":"e613fe08.5ee6f","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"photobooth","applicationId":"","deviceType":"tjbot","eventType":"status","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":670,"y":100,"wires":[["dd0b23d8.d543b","c715752d.a7578"]]},{"id":"dd0b23d8.d543b","type":"debug","z":"e613fe08.5ee6f","name":"","active":true,"console":"false","complete":"false","x":750,"y":160,"wires":[]},{"id":"c715752d.a7578","type":"switch","z":"e613fe08.5ee6f","name":"","property":"payload.d.status","propertyType":"msg","rules":[{"t":"eq","v":"taking","vt":"str"},{"t":"eq","v":"uploading","vt":"str"},{"t":"eq","v":"ready","vt":"str"},{"t":"eq","v":"completed","vt":"str"}],"checkall":"false","outputs":4,"x":810,"y":100,"wires":[["1610906f.d5dd58"],["1610906f.d5dd58"],["1610906f.d5dd58"],["e5e5c4ac.232418"]]},{"id":"1610906f.d5dd58","type":"ui_text","z":"e613fe08.5ee6f","group":"20f2db62.da447c","order":2,"width":"4","height":"1","name":"","label":"Status","format":"{{msg.payload.d.status}}","layout":"col-center","x":970,"y":80,"wires":[]},{"id":"c3c0cc02.529c68","type":"ui_button","z":"e613fe08.5ee6f","name":"","group":"20f2db62.da447c","order":1,"width":"4","height":"1","passthru":false,"label":"Take Photo","color":"","bgcolor":"","icon":"","payload":"{}","payloadType":"json","topic":"","x":110,"y":80,"wires":[["6205a028.11f528"]]},{"id":"6205a028.11f528","type":"json","z":"e613fe08.5ee6f","name":"","x":250,"y":80,"wires":[["b8bc84d.5f004f8","88451b23.50be9"]]},{"id":"e5e5c4ac.232418","type":"function","z":"e613fe08.5ee6f","name":"Add Photo to Gallery","func":"var list = flow.get('photolist')||[];\nlist.push(msg.payload.d);\nflow.set('photolist', list);\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":180,"wires":[["d44daba2.742a3","34ed3988.ad3a76"]]},{"id":"45590fb2.664f3","type":"ui_template","z":"e613fe08.5ee6f","group":"685cb6e4.a2703","name":"Gallery","order":0,"width":"18","height":"6","format":"<div>\n    <div ng-hide=\"msg.payload.length\">No images available</div>\n    <img ng-repeat=\"photo in msg.payload | orderBy:'-'\" ng-click=\"send({payload:photo})\" src=\"{{photo.url}}\" style=\"max-width:175px; margin:5px\"/>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":340,"y":280,"wires":[["b9b4369a.e3474","c94eeeae.e60ff"]]},{"id":"fc530ae2.675b48","type":"function","z":"e613fe08.5ee6f","name":"Display Gallery","func":"msg.payload = flow.get('photolist') || [];\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":280,"wires":[["45590fb2.664f3"]]},{"id":"6f8ff155.5565b8","type":"inject","z":"e613fe08.5ee6f","name":"Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":300,"y":840,"wires":[["13c57d9.5bb5982","33ad232b.dd7a1c"]]},{"id":"d44daba2.742a3","type":"debug","z":"e613fe08.5ee6f","name":"","active":true,"console":"false","complete":"false","x":1210,"y":220,"wires":[]},{"id":"b9b4369a.e3474","type":"debug","z":"e613fe08.5ee6f","name":"","active":true,"console":"false","complete":"true","x":490,"y":240,"wires":[]},{"id":"2400e755.3b1c2","type":"ui_template","z":"e613fe08.5ee6f","group":"43b83d68.e73d3c","name":"Preview","order":1,"width":0,"height":0,"format":"<img src=\"{{msg.payload}}\"/>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":860,"y":440,"wires":[[]]},{"id":"481f7248.77cf14","type":"ui_button","z":"e613fe08.5ee6f","name":"","group":"43b83d68.e73d3c","order":4,"width":"6","height":"1","passthru":false,"label":"Send Photo","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":470,"y":560,"wires":[["969b038f.4773c8","95be6b97.2d9c"]]},{"id":"50d379bd.6114b","type":"ui_text_input","z":"e613fe08.5ee6f","name":"","label":"Phone #","group":"43b83d68.e73d3c","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"700","topic":"","x":580,"y":380,"wires":[["9f3e71e9.e92778","53e30d71.699bb4"]]},{"id":"8b29993e.c7c1d8","type":"os-del","z":"e613fe08.5ee6f","name":"","container":"photobooth","objectname":"test","osconfig":"212982e4.664156","x":870,"y":640,"wires":[]},{"id":"e938a94d.1ff028","type":"function","z":"e613fe08.5ee6f","name":"Delete From Gallery","func":"var current = flow.get('currentphoto');\n\nmsg.objectname = current.objectname;\n\n\nvar photolist = flow.get('photolist') || [];\nvar location = -1;\n\nfor(var i=0; i<photolist.length; i++) {\n    if(current.url == photolist[i].url) {\n        location = i;\n        break;\n    }\n}\n\nphotolist.splice(location, 1);\nflow.set('photolist', photolist);\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":660,"wires":[["4dc3b7d8.4dc5e","8b29993e.c7c1d8"]]},{"id":"402860b0.78ceb8","type":"ui_button","z":"e613fe08.5ee6f","name":"Delete","group":"685cb6e4.a2703","order":0,"width":"1","height":"1","passthru":false,"label":"X","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":450,"y":660,"wires":[["e938a94d.1ff028"]]},{"id":"969b038f.4773c8","type":"function","z":"e613fe08.5ee6f","name":"Send Message","func":"msg.url = flow.get('twiliosendcloudfunction');\nmsg.payload = {\n    from: '+'+flow.get('twiliophonenumber'),\n    to: '+1'+flow.get('phonenumber'),\n    body: flow.get('textmessage'),\n    image: flow.get('watermarkopenwhiskaction')+'?watermark='+encodeURIComponent(flow.get('watermarkimage'))+'&width=470&image='+encodeURIComponent(flow.get('currentphoto').url)\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":540,"wires":[["e572d5a8.1ebb68"]]},{"id":"f00dfb69.6be6e8","type":"debug","z":"e613fe08.5ee6f","name":"","active":true,"console":"false","complete":"false","x":1030,"y":580,"wires":[]},{"id":"e572d5a8.1ebb68","type":"http request","z":"e613fe08.5ee6f","name":"Call Cloud Function","method":"POST","ret":"obj","url":"","tls":"","x":850,"y":540,"wires":[["f00dfb69.6be6e8","522fc504.051f5c"]]},{"id":"8f473864.03e2a","type":"ui_toast","z":"e613fe08.5ee6f","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1250,"y":540,"wires":[]},{"id":"88da15.6aef65e8","type":"link in","z":"e613fe08.5ee6f","name":"Disable","links":["13c57d9.5bb5982","95be6b97.2d9c","4dc3b7d8.4dc5e"],"x":55,"y":560,"wires":[["6fdfc059.80c2d8"]]},{"id":"13c57d9.5bb5982","type":"link out","z":"e613fe08.5ee6f","name":"","links":["14c960bd.0291bf","88da15.6aef65e8"],"x":409.5,"y":840.5,"wires":[]},{"id":"95be6b97.2d9c","type":"link out","z":"e613fe08.5ee6f","name":"","links":["88da15.6aef65e8"],"x":595,"y":580,"wires":[]},{"id":"4dc3b7d8.4dc5e","type":"link out","z":"e613fe08.5ee6f","name":"","links":["352fa80f.acd98","4643a676.190f5","88da15.6aef65e8","34bda17c.c07886"],"x":795,"y":700,"wires":[]},{"id":"14c960bd.0291bf","type":"link in","z":"e613fe08.5ee6f","name":"Load Gallery","links":["13c57d9.5bb5982","2e26da03.662c9e"],"x":235,"y":1080,"wires":[["cce92150.0d3e78"]]},{"id":"40113f53.d3b23","type":"cloudant in","z":"e613fe08.5ee6f","name":"","cloudant":"","database":"photobooth","service":"photo-booth-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":470,"y":1080,"wires":[["f186eaff.c75fe8","dcdb6be7.f48db8"]]},{"id":"cce92150.0d3e78","type":"function","z":"e613fe08.5ee6f","name":"Set ID","func":"msg.payload = 'state';\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1080,"wires":[["40113f53.d3b23"]]},{"id":"f186eaff.c75fe8","type":"debug","z":"e613fe08.5ee6f","name":"","active":true,"console":"false","complete":"false","x":630,"y":1020,"wires":[]},{"id":"dcdb6be7.f48db8","type":"switch","z":"e613fe08.5ee6f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":610,"y":1080,"wires":[["577041da.5f8958"],["95979d61.ecebc8"]]},{"id":"577041da.5f8958","type":"function","z":"e613fe08.5ee6f","name":"Init Gallery","func":"flow.set(\"photolist\", []);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1060,"wires":[["7d9f734d.2e2d8c"]]},{"id":"7d9f734d.2e2d8c","type":"link out","z":"e613fe08.5ee6f","name":"","links":["4643a676.190f5"],"x":875,"y":1060,"wires":[]},{"id":"4643a676.190f5","type":"link in","z":"e613fe08.5ee6f","name":"Display Gallery","links":["7d9f734d.2e2d8c","4dc3b7d8.4dc5e","c221f030.683df","34ed3988.ad3a76"],"x":55,"y":280,"wires":[["fc530ae2.675b48"]]},{"id":"34ed3988.ad3a76","type":"link out","z":"e613fe08.5ee6f","name":"","links":["34bda17c.c07886","4643a676.190f5"],"x":1155,"y":180,"wires":[]},{"id":"95979d61.ecebc8","type":"function","z":"e613fe08.5ee6f","name":"Populate Gallery","func":"flow.set(\"photolist\", msg.payload.items);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1100,"wires":[["c221f030.683df"]]},{"id":"c221f030.683df","type":"link out","z":"e613fe08.5ee6f","name":"","links":["4643a676.190f5"],"x":875,"y":1100,"wires":[]},{"id":"34bda17c.c07886","type":"link in","z":"e613fe08.5ee6f","name":"Save Gallery","links":["4dc3b7d8.4dc5e","34ed3988.ad3a76"],"x":235,"y":960,"wires":[["e7179a7.0f11a68"]]},{"id":"40e26b04.6230fc","type":"function","z":"e613fe08.5ee6f","name":"Save Gallery","func":"msg.payload.items = flow.get('photolist');\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":960,"wires":[["cd142417.bde34"]]},{"id":"cd142417.bde34","type":"cloudant out","z":"e613fe08.5ee6f","name":"","cloudant":"","database":"photobooth","service":"photo-booth-cloudantNoSQLDB","payonly":true,"operation":"insert","x":790,"y":960,"wires":[]},{"id":"e7179a7.0f11a68","type":"function","z":"e613fe08.5ee6f","name":"Set ID","func":"msg.payload = 'state';\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":960,"wires":[["378dadf3.6a4892"]]},{"id":"378dadf3.6a4892","type":"cloudant in","z":"e613fe08.5ee6f","name":"","cloudant":"","database":"photobooth","service":"photo-booth-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":470,"y":960,"wires":[["40e26b04.6230fc"]]},{"id":"4265a83e.badd48","type":"comment","z":"e613fe08.5ee6f","name":"Save State To Cloudant","info":"","x":320,"y":920,"wires":[]},{"id":"488e81bb.7351c8","type":"comment","z":"e613fe08.5ee6f","name":"Load State From Cloudant","info":"","x":330,"y":1040,"wires":[]},{"id":"1908f4fd.6deb4b","type":"comment","z":"e613fe08.5ee6f","name":"On Startup","info":"","x":280,"y":800,"wires":[]},{"id":"31776df0.b6872a","type":"comment","z":"e613fe08.5ee6f","name":"Take Photo Button Sends Command to TJ Bot","info":"","x":210,"y":40,"wires":[]},{"id":"cd985f4e.125cf8","type":"comment","z":"e613fe08.5ee6f","name":"TJ Bot Publishes Events When Photographing","info":"","x":790,"y":40,"wires":[]},{"id":"f6a0b593.508ad8","type":"comment","z":"e613fe08.5ee6f","name":"New Photo -> Add It To Gallery","info":"","x":1030,"y":140,"wires":[]},{"id":"878734bc.618ab","type":"link in","z":"e613fe08.5ee6f","name":"Enable","links":["544023a7.84dc1c"],"x":55,"y":440,"wires":[["5b3cb25c.e1d07c"]]},{"id":"544023a7.84dc1c","type":"link out","z":"e613fe08.5ee6f","name":"","links":["878734bc.618ab"],"x":635,"y":280,"wires":[]},{"id":"6649c897.04f288","type":"comment","z":"e613fe08.5ee6f","name":"When Gallery Updates, Refresh the UI","info":"","x":190,"y":240,"wires":[]},{"id":"7c6c1def.597d5c","type":"comment","z":"e613fe08.5ee6f","name":"Enable Send UI","info":"","x":120,"y":400,"wires":[]},{"id":"c75cb13d.43e09","type":"comment","z":"e613fe08.5ee6f","name":"Disable Send UI","info":"","x":120,"y":520,"wires":[]},{"id":"81bad745.cf4d48","type":"debug","z":"e613fe08.5ee6f","name":"","active":true,"console":"false","complete":"false","x":870,"y":480,"wires":[]},{"id":"9f3e71e9.e92778","type":"debug","z":"e613fe08.5ee6f","name":"","active":true,"console":"false","complete":"false","x":750,"y":340,"wires":[]},{"id":"c94eeeae.e60ff","type":"change","z":"e613fe08.5ee6f","name":"Image Selected","rules":[{"t":"set","p":"currentphoto","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":280,"wires":[["544023a7.84dc1c"]]},{"id":"3ac2a5ce.a5d912","type":"change","z":"e613fe08.5ee6f","name":"Clear Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":380,"wires":[["50d379bd.6114b"]]},{"id":"53e30d71.699bb4","type":"change","z":"e613fe08.5ee6f","name":"Set #","rules":[{"t":"set","p":"phonenumber","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":380,"wires":[[]]},{"id":"ff21354d.9e32b","type":"function","z":"e613fe08.5ee6f","name":"Get Selected Image","func":"msg.payload = flow.get('watermarkopenwhiskaction')+'?watermark='+encodeURIComponent(flow.get('watermarkimage'))+'&width=470&image='+encodeURIComponent(flow.get('currentphoto').url);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":440,"wires":[["2400e755.3b1c2","81bad745.cf4d48"]]},{"id":"7ec824dc.2c6e0c","type":"change","z":"e613fe08.5ee6f","name":"Reset Selected Image","rules":[{"t":"set","p":"currentphoto","pt":"flow","to":"{}","tot":"json"},{"t":"set","p":"currentphoto.url","pt":"flow","to":"imageplaceholder","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":480,"wires":[["ff21354d.9e32b"]]},{"id":"522fc504.051f5c","type":"change","z":"e613fe08.5ee6f","name":"Set Notification","rules":[{"t":"set","p":"payload","pt":"msg","to":"Photo Sent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":540,"wires":[["8f473864.03e2a"]]},{"id":"6fdfc059.80c2d8","type":"change","z":"e613fe08.5ee6f","name":"Disable","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":560,"wires":[["481f7248.77cf14","402860b0.78ceb8","3ac2a5ce.a5d912","7ec824dc.2c6e0c"]]},{"id":"5b3cb25c.e1d07c","type":"change","z":"e613fe08.5ee6f","name":"Enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":440,"wires":[["481f7248.77cf14","402860b0.78ceb8","3ac2a5ce.a5d912","ff21354d.9e32b"]]},{"id":"33ad232b.dd7a1c","type":"change","z":"e613fe08.5ee6f","name":"Set Configuration","rules":[{"t":"set","p":"watermarkopenwhiskaction","pt":"flow","to":"https://openwhisk.ng.bluemix.net/api/v1/web/---_---/public/watermark.http","tot":"str"},{"t":"set","p":"watermarkimage","pt":"flow","to":"","tot":"str"},{"t":"set","p":"imageplaceholder","pt":"flow","to":"","tot":"str"},{"t":"set","p":"twiliophonenumber","pt":"flow","to":"+1----------","tot":"str"},{"t":"set","p":"textmessage","pt":"flow","to":"Thanks for visiting the IBM booth","tot":"str"},{"t":"set","p":"twiliosendcloudfunction","pt":"flow","to":"https://openwhisk.ng.bluemix.net/api/v1/web/---_---/public/twilio_send_message.json ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":780,"wires":[[]]},{"id":"88451b23.50be9","type":"debug","z":"e613fe08.5ee6f","name":"","active":true,"console":"false","complete":"false","x":400,"y":160,"wires":[]},{"id":"20f2db62.da447c","type":"ui_group","z":"","name":"Camera","tab":"4f8cae91.6bab6","disp":false,"width":"18"},{"id":"685cb6e4.a2703","type":"ui_group","z":"","name":"Gallery","tab":"4f8cae91.6bab6","disp":true,"width":"18"},{"id":"43b83d68.e73d3c","type":"ui_group","z":"","name":"Send Photo","tab":"4f8cae91.6bab6","disp":true,"width":"6"},{"id":"212982e4.664156","type":"os-config","z":"","cfgtype":"api","region":"dallas","projectId":"","userId":"","userName":"","password":"","name":"Object Storage"},{"id":"4f8cae91.6bab6","type":"ui_tab","z":"","name":"Photo Booth","icon":"dashboard"}]
