code/raspberrypiflow.json
[{"id":"1e42d6ab.2d93a9","type":"file in","z":"4bd5194a.3cf728","name":"","filename":"","format":"","x":530,"y":260,"wires":[["a57f3929.492b28"]]},{"id":"a57f3929.492b28","type":"os-put","z":"4bd5194a.3cf728","name":"","container":"photobooth","objectname":"","objectmode":"0","imageformat":"jpeg","audioformat":"wav","filepath":"","filename":"","formattype":"0","mode":"1","osconfig":"8dcc8b6a.ac989","x":750,"y":320,"wires":[["a42f1216.6aa6c8","d7cdf53a.939808"]]},{"id":"671a1493.3a02fc","type":"json","z":"4bd5194a.3cf728","name":"","x":1030,"y":440,"wires":[["baa7d0ed.fedc68","6f19cdb2.48d0a4"]]},{"id":"bcc9befc.da579","type":"json","z":"4bd5194a.3cf728","name":"","x":890,"y":140,"wires":[["8941393d.dd1cb","8462bab8.537f48"]]},{"id":"ba91a664.751e3","type":"tjbot-see","z":"4bd5194a.3cf728","botId":"cb390aae.c7f17","mode":"takephoto","verticalFlip":true,"horizontalFlip":true,"width":"640","height":"480","name":"Take Photo","x":350,"y":180,"wires":[["1e42d6ab.2d93a9","be9864b1.5e8418","e4bd17c5.f2bfb8"]]},{"id":"cff8896.fa15e78","type":"tjbot-shine","z":"4bd5194a.3cf728","botId":"cb390aae.c7f17","mode":"shine","color":"red","duration":"","name":"","x":340,"y":100,"wires":[]},{"id":"be9864b1.5e8418","type":"tjbot-shine","z":"4bd5194a.3cf728","botId":"cb390aae.c7f17","mode":"shine","color":"off","duration":"","name":"","x":580,"y":180,"wires":[]},{"id":"bb5bfc5f.bbd308","type":"inject","z":"4bd5194a.3cf728","name":"On Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":450,"y":420,"wires":[["e23c2055.cc6db8"]]},{"id":"8941393d.dd1cb","type":"wiotp out","z":"4bd5194a.3cf728","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"86861fd4.ec9148","deviceType":"","deviceId":"","event":"camerastatus","format":"json","qos":"0","name":"","x":1060,"y":140,"wires":[]},{"id":"baa7d0ed.fedc68","type":"wiotp out","z":"4bd5194a.3cf728","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"86861fd4.ec9148","deviceType":"","deviceId":"","event":"phototaken","format":"json","qos":"0","name":"","x":1170,"y":440,"wires":[]},{"id":"988c8ecb.503608","type":"wiotp in","z":"4bd5194a.3cf728","authType":"d","deviceKey":"86861fd4.ec9148","deviceType":"","deviceId":"","command":"takephoto","commandType":"g","qos":0,"name":"","x":120,"y":100,"wires":[["cea0135e.a9f2c8","ba91a664.751e3","cff8896.fa15e78","689b5ed4.e2e4b"]]},{"id":"6f19cdb2.48d0a4","type":"debug","z":"4bd5194a.3cf728","name":"","active":true,"console":"false","complete":"true","x":1150,"y":500,"wires":[]},{"id":"8462bab8.537f48","type":"debug","z":"4bd5194a.3cf728","name":"","active":true,"console":"false","complete":"true","x":1030,"y":100,"wires":[]},{"id":"e23c2055.cc6db8","type":"delay","z":"4bd5194a.3cf728","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":420,"wires":[["a42f1216.6aa6c8"]]},{"id":"cea0135e.a9f2c8","type":"debug","z":"4bd5194a.3cf728","name":"","active":true,"console":"false","complete":"false","x":350,"y":220,"wires":[]},{"id":"d8c50976.49aa48","type":"comment","z":"4bd5194a.3cf728","name":"Subscribe to takephoto command","info":"","x":200,"y":60,"wires":[]},{"id":"4edd8502.7b08f4","type":"comment","z":"4bd5194a.3cf728","name":"Publish IoT Event with camera status","info":"","x":1130,"y":60,"wires":[]},{"id":"1ac8403f.ae3e6","type":"comment","z":"4bd5194a.3cf728","name":"Publish IoT Event with image info","info":"","x":930,"y":400,"wires":[]},{"id":"6bf16586.03111c","type":"comment","z":"4bd5194a.3cf728","name":"Store image in Object Storage","info":"","x":780,"y":280,"wires":[]},{"id":"4d0de048.e679b8","type":"comment","z":"4bd5194a.3cf728","name":"On startup, publish IoT Event with ready status","info":"","x":540,"y":380,"wires":[]},{"id":"689b5ed4.e2e4b","type":"change","z":"4bd5194a.3cf728","name":"Status: taking","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"d\":{\"status\":\"taking\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":140,"wires":[["bcc9befc.da579"]]},{"id":"e4bd17c5.f2bfb8","type":"change","z":"4bd5194a.3cf728","name":"Status: uploading","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"d\":{\"status\":\"uploading\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":220,"wires":[["bcc9befc.da579"]]},{"id":"a42f1216.6aa6c8","type":"change","z":"4bd5194a.3cf728","name":"Status: ready","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"d\":{\"status\":\"ready\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":320,"wires":[["bcc9befc.da579"]]},{"id":"d7cdf53a.939808","type":"change","z":"4bd5194a.3cf728","name":"Status: completed","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"d\":{\"status\":\"completed\"}}","tot":"json"},{"t":"set","p":"payload.d.url","pt":"msg","to":"url","tot":"msg"},{"t":"set","p":"payload.d.objectname","pt":"msg","to":"objectname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":440,"wires":[["671a1493.3a02fc"]]},{"id":"8dcc8b6a.ac989","type":"os-config","z":"","cfgtype":"api","region":"","projectId":"","userId":"","userName":"","password":"","name":"Object Storage"},{"id":"cb390aae.c7f17","type":"tjbot-config","z":"","botGender":"male","name":"","listen":"en-US","speak":"en-US","hasLED":true,"hasServo":true},{"id":"86861fd4.ec9148","type":"wiotp-credentials","z":"","name":"","org":"","serverName":"","devType":"tjbot","devId":"photobooth","keepalive":"60","cleansession":true,"tls":"","usetls":false}]
